<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Simple form</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport"
        content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet"
        href="./lib/angular-material/angular-material.css"/>
  <link rel="stylesheet"
        href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
<style>
  .validation-messages {
    font-size: 11px;
    color: darkred;
    margin: 0 0 0 56px; }
</style>
</head>
<body ng-app="myApp" layout="column">
<md-toolbar class="md-toolbar-tools">
  <h1>$mdDateLocalProvider</h1>
</md-toolbar>
<md-content>
  <div class="md-body-1" layout-margin
      layout-padding>
    In this example, dates use Hungarian locale.
  </div>
  <md-datepicker name="diveDate"
    ng-model="user.diveDate"
    required>
  </md-datepicker>
  <div ng-messages="simple.diveDate.$error"
     class="validation-messages"
     ng-show="simple.diveDate.$dirty">
     <div ng-message="required">Please provide a date!</div>
  </div>
  <md-divider></md-divider>
  <div layout-margin layout-padding>
    <code>
      {{user.diveDate | json}}
    </code>
  </div>
</md-content>
<!-- Angular/Material scripts -->
<script src="./lib/angular/angular.js"></script>
<script src="./lib/angular-animate/angular-animate.js"></script>
<script src="./lib/angular-messages/angular-messages.js"></script>
<script src="./lib/angular-aria/angular-aria.js"></script>
<script src="./lib/angular-material/angular-material.js"></script>
<script src="./lib/moment/moment.js"></script>

<!-- App-specific scripts -->
<script src="datepicker.js"></script>
<script type="text/javascript">
  angular
      .module('myApp', ['ngMaterial', 'ngMessages', 'datepicker'])
</script>
</body>
</html>
