<!-- Adapted from "Learning AngularJS"
  -- by Ken Williamson (O'Reilly, 2015)
  -->
	<ul data-ng-controller="formController as formCtrl"
		style="text-align:left; list-style:none; margin:0; background-color:#CCF; border-bottom:0px;">
		<br />
		<li><b>Name:</b> <span data-ng-class="(formErrors.name)? 'warning': ''">{{user.name}}</span></li>
		<li><b>Email:</b> <span data-ng-class="(formErrors.mail)? 'warning': ''">{{user.email}}</span></li>
		<li><b>ID:</b> <span>{{user.id}}</span></li>

		<form name="userForm" novalidate data-ng-submit="formSubmit(user.id, userForm.$valid)">
			<br />
            <input id="uid" name="uid" type="hidden" 
                   data-ng-model="formData.uid" 
                   data-ng-init="formData.uid=user.id" />
			<li>
				<input id="uname" name="uname" type="text" required
					   data-ng-model="formData.uname" 
                       data-ng-placeholder="user.name" 
                       data-ng-minlength="3" />
				<label for="uname">Change Name:</label>
			</li>
			<li>
				<input id="umail" name="umail" type="email" required
					   data-ng-model="formData.umail" 
                       data-ng-placeholder="user.email" />
				<label for="umail">Change Email:</label>
			</li>
			<li>
				<input id="vmail" name="vmail" type="email" required
					   data-ng-model="vmail" 
                       data-ng-pattern="formData.umail" />
				<label for="vmail">Verify Email:</label>
			</li>
			<li><button type="submit" 
						data-ng-click="user.change(formData.uname, formData.umail)"
						data-ng-disabled="userForm.$invalid">Change User</button></li>
			<br />
		</form>
	</ul>
