<!DOCTYPE html>
<html lang="en"><head>
    <title>Practice AngularJS</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
    <script src="index.js"></script>
</head>
<body data-ng-app="practice-angularjs" 
      data-ng-controller="mainController"
      style="padding-top: 50px;">
    
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">{{config.title}}</a>
            </div>
          </div>
        </nav>
    </header>
    
    <div class="main" data-ng-include="'partials/main.html'"></div>
	
	<modal-dialog show="true" dialog-title="{{config.dialogTitle}}">
        <div data-ng-view></div>
    </modal-dialog>
	
</body></html>
