<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Type Box</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <link rel="stylesheet" href="libs/jquery-ui/themes/smoothness/jquery-ui.min.css" />
	<link rel="stylesheet" href="styles/practice.css" />
	
    <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="libs/AngularJS/dist/angular.min.js"></script>
    <script type="text/javascript" src="libs/AngularJS/dist/angular-resource.min.js"></script>
</head>

<body data-role="page" 
	  data-ng-app="practice-angularjs">

	<div data-ng-controller='typeBoxController' style="max-width:240px;">
		<h1 data-role="header" style="text-overflow:ellipsis; overflow:hidden; ">{{greeting}} "{{usrmsg}}"</h1>
			You: <div class="practice-user-message"></div>
		<p>
			<span data-ng-show="remaining()">Keep Typing</span><span data-ng-show="(! remaining() )">Stop Typing</span> 
			(<span data-ng-class="{'warning': warning()}">remaining chars: {{remaining()}}</span>)
		</p>
	</div>

    <script type="text/javascript" src="scripts/Debugger.js"></script>
    <script type="text/javascript" src="scripts/practice-angular.js"></script>
    <script type="text/javascript" src="scripts/practice-common.js"></script>
</body></html>
