<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Radio buttons with custom labels</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport"
        content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet"
        href="./lib/angular-material/angular-material.css"/>
  <link rel="stylesheet"
        href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <style>
    md-radio-group#type md-radio-button .md-container {
      top: -10px;
    }

    .explanation {
      margin-top: 4px;
    }

    .explanation-text {
      font-size: 0.9em;
      color: #757575; /* Grey 600 */
    }

    .explanation-icon {
      margin-right: 8px;
      color: #2196F3; /* Blue 500 */
    }
  </style>
</head>
<body ng-app="myApp" layout="column"
      ng-controller="SimpleFormController">
<!-- Single column -->
<md-toolbar class="md-toolbar-tools">
  <h1>Radio buttons with custom labels</h1>
</md-toolbar>
<md-content>
  <form name="simple" novalidate
        layout-margin layout-padding="">
    <div layout="column">
      <div class="md-body-2">
        Dive type
      </div>
      <md-radio-group id="type" ng-model="dive.type"
                      ng-init="dive.type=0">
        <md-radio-button
            ng-repeat="type in diveTypes"
            aria-label="{{type.name}}"
            ng-value="type.id">
          {{type.name}}
          <div class="explanation">
            <md-icon class="material-icons explanation-icon">
              comment
            </md-icon>
                  <span class="explanation-text">
                    Explanation for {{type.name}}
                  </span>
          </div>
        </md-radio-button>
      </md-radio-group>
      <md-divider></md-divider>
      <div class="md-body-2">
        Altitude
      </div>
      <md-radio-group ng-model="dive.altitudeType">
        <md-radio-button
            ng-repeat="alt in altitudeTypes"
            aria-label="{{alt.category}}"
            ng-value="alt.category">
          {{alt.category}}
          <small class="explanation-text">
            &nbsp;({{alt.explain}})
          </small>
        </md-radio-button>
      </md-radio-group>
    </div>
    <md-button class="md-raised md-primary"
               ng-click="register(dive)"
               ng-disabled="simple.$invalid"  >
      Register
    </md-button>
  </form>
  <md-divider></md-divider>
  <div layout-margin>
    <code>
      {{diveInfo | json}}
    </code>
  </div>
</md-content>

<!-- Angular/Material scripts -->
<script src="./lib/angular/angular.js"></script>
<script src="./lib/angular-animate/angular-animate.js"></script>
<script src="./lib/angular-aria/angular-aria.js"></script>
<script src="./lib/angular-material/angular-material.js"></script>

<!-- App-specific scripts -->
<script src="./radiobutton.js"></script>
<script type="text/javascript">
  angular
      .module('myApp', ['ngMaterial', 'radiobutton'])
</script>
</body>
</html>
