<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Simple Layout</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport"
        content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet"
        href="./lib/angular-material/angular-material.css"/>
  <link rel="stylesheet"
        href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
  <style>
    md-toolbar h1 {
      margin: auto;
      font-weight: 400;
    }

    div.layout-row div.flex-25,
    div.layout-row div.flex-33,
    div.layout-row div.flex-50 {
      border: 1px dotted gray;
      background-color: #FFE0B2; /* Orange 100 */
      text-align: center;
      padding: 16px;
      box-sizing: border-box;
    }

    #content .smallPadding {
      padding: 8px 16px;
    }

    #content .normalPadding {
      padding: 24px 40px;
    }
  </style>
</head>
<body ng-app="myApp"
      layout="row"
      ng-controller="LayoutController">
<!-- Single column -->
<div flex layout="column" tabIndex="-1" role="main">
  <md-toolbar layout="row">
    <h1>{{__layout.screen}}</h1>
  </md-toolbar>
  <md-content id="content"
              ng-controller="CitiesController">
    <div layout="row" layout-wrap
         ng-class="__layout.paddingStyle">
      <div ng-class="'flex-' + __layout.itemSize"
           ng-repeat="city in cities">
        {{city}}
      </div>
    </div>
  </md-content>
</div>

<!-- Angular/Material scripts -->
<script src="./lib/angular/angular.js"></script>
<script src="./lib/angular-animate/angular-animate.js"></script>
<script src="./lib/angular-aria/angular-aria.js"></script>
<script src="./lib/angular-material/angular-material.js"></script>

<!-- App-specific scripts -->
<script src="./layout.js"></script>
<script src="./cities.js"></script>
<script type="text/javascript">
  angular
      .module('myApp', ['ngMaterial', 'layout', 'cities'])
</script>
</body>
</html>
