.md-chips .md-chip .md-chip-remove-container {
  position: absolute;
  right: 4px;
  top: 4px;
  margin-right: 0;
  height: 24px;
}

.md-chips .md-chip .md-chip-content {
  padding-right: 12px;
}

.md-chips .md-chip .md-chip-remove-container button.myChip {
  position: relative;
  height: 24px;
  width: 24px;
  line-height: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  transition: background 0.15s linear;
  display: block;
}

.md-chips .md-chip .md-chip-remove-container button.myChip md-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0.75);
  color: white;
  fill: white;
}

.md-chips .md-chip .md-chip-remove-container button.myChip:hover,
.md-chips .md-chip .md-chip-remove-container button.myChip:focus {
  background: rgba(192, 0, 0, 0.8);
}