div.ng-modal-dialog {
	width:			320px;
	min-height:		200px;
	text-align:		center; 
	margin:			20px auto;
	border-radius:	12px 12px; 
	border:			4px solid rgba(25%,25%,25%,0.5);
	overflow:		auto;
}

.ng-modal-dialog * li {
	width:			240px;
	margin-bottom: 	20px;
	text-align: 	left;
}

.ng-modal-dialog * li input {
	float: 			right;
	width:			50%;
}

* *.aspNetHidden, * *.ui-loader-default {
	display: none;
}

* span.practice-user-message * {
	min-width:		180px;
	max-width:		180px;
	max-height:		100px;
}

* *.warning {
	color:			red;
	font-weight: 	bold;
}

@media (min-width: 768px) {
    nav.navbar>.container {
        width:          970px;
    }
    nav.navbar>.container .navbar-brand, nav.navbar>.container-fluid .navbar-brand {
        margin-left:    0px;   
    }
}
