<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Grid list</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport"
        content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet"
        href="./lib/angular-material/angular-material.css"/>
  <link rel="stylesheet"
        href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <style>
    .light-text {
      color: white;
    }
    .dark-text {
      color: black;
    }

    md-grid-list md-grid-tile figure {
      cursor: pointer;
    }

    md-grid-list md-grid-tile md-grid-tile-footer {
      background-color: black;
      opacity: 0.7;
    }

    md-grid-list md-grid-tile figure:hover {
      background-color: black;
      opacity: 0.8;
    }
  </style>
</head>
<body ng-app="myApp" layout="column"
  ng-controller="GridListController"  >
<md-toolbar class="md-toolbar-tools">
  <h1>Grid list</h1>
</md-toolbar>
<md-content flex>
  <md-grid-list id="pictureList"
    md-row-height="3:2"
    md-cols="5"
    md-cols-md="4"
    md-cols-sm="2">
    <md-grid-tile
      ng-repeat="picture in pictures"
      ng-click="selectPicture(picture, $event)"  >
      <md-grid-tile-footer
        ng-hide="hideFooter()">
        <h3>{{picture.title}}</h3>
      </md-grid-tile-footer>
      <div
        style="width: 100%; height: 100%; background-size: calc(100%) calc(100%)"
        ng-style="{'background-image': 'url(' + './Images/'
          + picture.src +')'}">
      </div>
    </md-grid-tile>
  </md-grid-list>
</md-content>

<!-- Angular/Material scripts -->
<script src="./lib/angular/angular.js"></script>
<script src="./lib/angular-animate/angular-animate.js"></script>
<script src="./lib/angular-aria/angular-aria.js"></script>
<script src="./lib/angular-material/angular-material.js"></script>

<!-- App-specific scripts -->
<script src="./gridlist.js"></script>
<script type="text/javascript">
  angular
      .module('myApp', ['ngMaterial', 'gridlist'])
</script>
</body>
</html>
